.home-container {
  position: relative;
  min-height: 100vh;
  padding: 20px 10px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container h1 {
  font-size: 38px;
  font-weight: bolder;
  padding: 15px;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 50px;
}
.home-container .logo {
  height: 420px;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  user-select: none;
}

.home-container .logo .hover-show {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;
}

@keyframes showspin {
  to {
    transform: rotate(360deg);
  }
}

.home-container .logo .circle {
  position: absolute;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  opacity: 0;
}

.home-container .logo .hover-show.active .circle {
  opacity: 1;
}

.home-container .logo .hover-show.active .circle:nth-child(1) {
  background: url(../../assets/images/css.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(-210%);
}

.home-container .logo .hover-show.active .circle:nth-child(2) {
  position: absolute;
  transform: translateX(182%) translateY(-118%);
  background: url(../../assets/images/html.png);
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(3) {
  position: absolute;
  transform: translateX(197%) translateY(74%);
  background: url(../../assets/images/js.jpg);
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(4) {
  position: absolute;
  transform: translateX(57%) translateY(182%);
  background: url(../../assets/images/react.png);
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(5) {
  position: absolute;
  transform: translateX(-199%) translateY(19%);
  background: url(../../assets/images/uxui.png);
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(6) {
  position: absolute;
  transform: translateX(-163%) translateY(-147%);
  background: url(../../assets/images/redux.jpg);
  background-size: cover;
  background-position: center;
}

.home-container .logo .hover-show.active .circle:nth-child(7) {
  background: url(../../assets/images/node.png);
  position: absolute;
  transform: translateX(-139%) translateY(172%);
  background-size: cover;
  background-position: center;
}

.home-container img {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid rgb(108, 161, 197);
  transform: translate(-200px);
  opacity: 0;
  animation: fade-in 1s ease 1 0.5s forwards;
}

@keyframes fade-in {
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.home-container h2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.home-container h2 span {
  font-size: 38px;
  opacity: 0.8;
  padding: 5px;
  text-transform: uppercase;
  font-family: Poppins;
}

.home-container p {
  font-size: 20px;
  opacity: 1;
  font-weight: 100;
  margin-top: 1px;
  font-family: Poppins;
  margin: 5px;
  text-align: justify;
}

@media (max-width: 820px) {
  .home-container {
    padding: 100px 10px 10px 10px;
  }

  .home-container .logo {
    height: 220px;
    width: 220px;
  }

  .home-container .logo .hover-show {
    height: 220px;
    width: 220px;
  }

  .home-container p {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .home-container {
    padding: 70px 10px 10px 10px;
    margin-top: 20px;
  }

  .home-container .logo .circle {
    height: 71px;
    width: 71px;
  }

  .home-container img {
    height: 200px;
    width: 200px;
  }

  .home-container h2 {
    margin-top: 20px;
  }

  .home-container p {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .home-container {
    padding: 60px 10px 10px 10px;
    margin-top: 5px;
  }

  .home-container .logo {
    height: 180px;
    width: 180px;
  }

  .home-container .logo .hover-show {
    height: 180px;
    width: 180px;
  }

  .home-container .logo .circle {
    height: 65px;
    width: 65px;
  }

  .home-container img {
    height: 185px;
    width: 185px;
  }

  .home-container h2 {
    margin-top: 18px;
  }
  .home-container p {
    font-size: 14px;
  }
}
