.certificates-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.certificates-container .certificates {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.035);
  padding: 20px;
  border-radius: 50px;
}
.certificates-container .certificates-img1 {
  height: 200px;
  width: 200px;
  border-radius: 40px;
  background: rgb(5, 7, 37) url(../../assets/images/certificadoHenry.png);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-sec-light);
}
.certificates-container .certificates-img2 {
  height: 200px;
  width: 200px;
  border-radius: 40px;
  background: rgb(5, 7, 37) url(../../assets/images/EF.png);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-sec-light);
}

.certificates-container .certificates-info {
  margin-left: 30px;
  font-family: Poppins;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.certificates-container .certificates-info .name {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.certificates-container .certificates-info .about {
  margin-top: 8px;
  font-size: 18px;
}

.certificates-container .certificates-info .contact-certificates {
  padding: 12px 25px;
  font-size: 15px;
  margin: 10px 1px auto auto;
  border-radius: 50px;
  transition: 0.1s ease;
}

.certificates-container
  .certificates
  .certificates-info
  .contact-certificates
  span {
  text-transform: capitalize;
}
.certificates-container
  .certificates
  .certificates-info
  .contact-certificates:hover {
  background-color: transparent;
  border: 2px solid var(--color-sec-light);
}

@media (max-width: 820px) {
  .certificates-container {
    width: 90%;
  }

  .certificates-container .certificates {
    width: 120%;
    height: fit-content;
    padding: 18px;
  }
  .certificates-container .certificates-img1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-items: center;
  }
  .certificates-container .certificates-img2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-items: center;
  }

  .certificates-container .certificates-info {
    margin-left: 10px;

    width: 70%;
  }

  .certificates-container .certificates-info .name {
    font-size: 22px;
    letter-spacing: 1px;
  }

  .certificates-container .certificates-info .about {
    margin-top: 1px;
    font-size: 15px;
  }
  .certificates-container .certificates-info .contact-certificates {
    padding: 3px 9px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .certificates-container .certificates {
    width: 110%;
    background: rgba(0, 0, 0, 0.116);
  }

  .certificates-container .certificates-info .name {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .certificates-container .certificates-info a.contact-certificates {
    padding: 2px 9px;
    font-size: 12px;
    border-radius: 50px;

    transition: 0.1s ease;
  }
}

@media (max-width: 425px) {
  .certificates-container .certificates-info .name {
    font-size: 18px;
  }

  .certificates-container .certificates-info .about {
    font-size: 13px;
  }
  .certificates-container .certificates-info .contact-certificates {
    padding: 1px 9px;
    font-size: 11px;
  }
}

@media (max-width: 375px) {
  .certificates-container {
    padding: 10px 10px;
  }

  .certificates-container .certificates {
    width: 100%;
  }
  .certificates-container .certificates-info .name {
    font-size: 17px;
  }

  .certificates-container .certificates-info .about {
    font-size: 12px;
  }
  .certificates-container .certificates-info .contact-certificates {
    padding: 1px 9px;
    font-size: 10px;
  }
}
